
body {
  margin: 0;
  padding: 0;
  font-family:  "courier";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* -----------------------------------nav BAR------------------------------------ */
.nav{
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  padding: 0rem 2rem;
  height: 7vh;
  background-color: #ffffff;
  margin:0rem;
  position:sticky;
  /* width: 100%; */
  top:0;
  z-index: 2;
}
.nav>span:last-child{
  display: flex;
  gap: 1rem;
}
.nav>span>a{
  color:#000;
  text-decoration:none ;
}
.nav_reg{
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  justify-content: center;
  gap: 0.5rem;
  padding:0vh 1vh;
  margin: 2vh 0; 
  background-color: rgb(226, 231, 236);
  font-size: small;
  border-radius: 1rem;
  cursor: pointer;
}
.nav_reg:hover{
  background-color: rgb(214, 218, 223);;
}
.nav_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.nav_menubar{
  cursor: pointer;
  font-size: x-large;
  display: none;
}
.nav_navigation{
  display: flex; 
  font-size: small;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2rem;
  width:100%;
  gap: 1.5rem;
}
.nav_location{
  background-color: rgb(226, 231, 236);
  align-items: center;
  width: 23vw;
  justify-content: center;
  display: flex;
  border-radius: 2rem;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  padding: 1.5vh;
  gap: 0.8rem;
  border-left: #fdfdfd 1px solid;
  border-right: #fdfdfd 1px solid;
}
.nav_delivery{
  /* width: 15vw; */
  background-color: rgb(226, 231, 236);
  height: 2.3rem;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  display: flex;
  padding: .5vh 1vh;
  cursor: pointer;
  border-radius: 2rem;
  gap: 1rem;
}
.nav_search{
  background-color: rgb(226, 231, 236);
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
  border-radius: 2rem;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  padding: 1.5vh;
  gap: 0.8rem;
  border-left: #fdfdfd 1px solid;
  border-right: #fdfdfd 1px solid;
}
.delivery{
  background-color: #fafafa;
  padding: 1.2vh;
  min-width:max-content;
  position: relative;
  border-radius: 2rem;
}
.nav_search>span{
  font-size: large;
  padding-right: 0.5rem;
}

/* ---------------------------------------------START PAGE---------------------------------------- */
.start{
  display: flex;
}
.start_container{
  background-image: url('../public/image/start_bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
  width: 100%;
  padding: 3rem;
  height: 82.8vh;
}
.start_container>span{
  color: white;
  font-size: large;
  width: 63%;
}
.start_container>span>a{
  color: #fff;
}
.start_search{
  display: flex;
  gap: 0rem;
  align-items: center;
  height: 3rem;
  padding: 1rem 5rem;
}
.start_dropdown{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap :0rem;
}
.start_dropdown>a{
  color: #000;
  text-decoration: none;
  background-color: #c5bdbdee;
  height: 100%;
  padding: 0.5vh;
  display: flex;
  width: 6vw;
  justify-content: center;
  align-items: center;
}
.start_dropdown>a:hover{
  background-color: #b6acac;
}
.search_pannel{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fff;
  padding: 0 0.77rem;
  width: 40vw;
}
.search_pannel>input{
   border: none;
   height: 3.52rem;
   font-family: "courier";
   font-size: large;
   width: 100%;
}
.dropbtn{
  background-color: #fff;
  padding: 0.84rem;
  cursor: pointer;
  width:6rem;
  height: 100%;
  font-size: small;
  font-family: "courier";
  border: none;
}
.dropdown_pannel,.dropdown_pannel1{
  position: relative;
  font-family: "courier";
  width: 10vw;
  padding: 0;
  display: inline;
}
.dropdown_content,.dropdown_content1{
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: none;
}
.dropdown_content>p{
  padding: 0.5rem;
  margin: 0rem;
}
.dropdown_content>p:hover{
  background-color: #ebe3e3;
}
.dropdown_pannel:hover .dropdown_content{
  display: block;
}
.dropdown_pannel1:hover .dropdown_content1{
  display: block;
}
.side_bar{
  display: none;
}


/* ----------------------------------------BUTTON FOR ALL--------------------------------------------- */
.button{
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  color:#000;
  background-color: #fff;
  font-family: "courier";
  cursor: pointer;
  transition: background-color 400ms ease;
}
.button:hover{
  color: white;
  background-color: #f7990c;
}
/* -------------------------------------------LOGIN PAGE------------------------------------------*/
.login_container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: auto 1rem; */
  
}
.login_form{
  display: flex;
  gap:2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #8f5c0f;
  border-radius: 1rem;
  padding:5rem 2rem 2rem 2rem;
  width: 40%;
}
.login_btn{
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.login_btn>a{
  border:1px solid #f7990c;
}
.login_form>hr{
  width: 80%;
}
.login_input{
  width: 100%;
  height: 1rem;
  padding: 1rem;
  font-family: "courier new";
  font-size: medium;
  border: none;
  border-bottom:1px solid black;
}

.login_form>p>a:last-child{
  color:#8f5c0f;
}
.login_form>p>a:last-child:hover{
  color: #000;
}
/* --------------------------------------------HOME CSS ---------------------------------------------*/
.body{
  position: relative;
  width: 100%;
}
.home_display{
  position: absolute;
  top:1rem;
  height: 91.2vh;
  width: 100%;
  z-index: 2;
  /* background-color: #f7990c; */
  background-color: rgba(235, 231, 228, 0.548);
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 5rem;
  height: 100%;
}
.closecart .cart{
  display: none;
}
.quick_filter{
  display: flex;
  gap: 1.5rem;
  text-align: center;
}
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15rem;
  height: 90vh;
  background-color: #f7990c;
  color: #fafafa;
}
.footer_links>ul>li>a,.footer_links>ul{
    text-decoration: none;
    list-style-type: none;
    color: #fdfdfd;
}
.footer_links>ul>li{
  padding: 0.5rem;
}
.footer_links>ul>li:hover{
  text-decoration: underline;
}
.home_footer{
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top:0.1rem solid white;
}
.footer_socials{
  background-color: #f7990c;
  font-size: large;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
/* -----------------------------------cardS CSS---------------------------------------------------------------- */
.card{
  width: 25rem;
  height: 25rem;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  gap: 0.3rem;
}
.card_body{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
  display: flex;
  padding: 2% 0 2% 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.card_head{
  display: flex;
  justify-content: space-between;
}
.card_head>span:first-child{
  background-color: #f7990c;
  padding: 0.3rem;
  border-radius: 0 1rem 1rem 0;
}
.card_head>span:last-child{
  margin-right: 1rem; 
  font-size: x-large;
  cursor: pointer;
}
.card_order{
  /* padding:20% 15% 20% 15% ; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.card_ordertype{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.card_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards{
  display: grid;
  column-gap: 2%;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
/* -----------------------------------------------ORDER MODAL----------------------- */
.modal{
  height:70vh;
  width: 70vw;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  top:5rem;
  left:12%;
  right: 12%;
  position: absolute;
  position: fixed;
  z-index: 3;
  padding: 3rem;
  background-color: #e7e7e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap:5rem;
}
.modal_close{
  width: 100%;
}
.modal_close>svg{
  cursor: pointer;
}
.close .modal{
    display: none;
  
}
.modal_body{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-around;
  gap: 2rem;
}
.modal_img{
  height: 55vh;
  width: 35vw;
  background-color:#f7990c;
}
.modal_info{
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal_info>span>h3{
  overflow-wrap: break-word;
}
.modal_quantity{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal_btn{
  margin: 1rem;
  align-items: center;
}
.quantity{
cursor: pointer;
}
            /* ====================cart==================== */
            .cart{
              display: flex;
              flex-direction: column;
              position: absolute;
              position: fixed;
              justify-content: space-between;
              align-items: flex-end;
              z-index: 3;
              height: auto;
              min-height: 20vh;
              min-width: 20vw;
              top:4rem;
              right: 10px;
              padding: 15px;
              background-color: #e7e7e5;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
            }
            .cart_close>svg{
              width: 100%;
              align-items: flex-end;
            }
            .cart_info>h2{
              overflow-wrap: break-word;
            }
            .cart_info{
              width: 100%;
              border-bottom: 1px solid #7e7c7c;
            }
/* ==-----------------------------------------------------RESTUARANT CSS------------------------------------ */
.add_rest{
color:#7e7c7c;
width: 50vw;
display: flex;
gap:2rem;
flex-direction: column;
justify-content: center;
align-items: center;
padding:5rem 2rem 2rem 2rem;
}
.restuarant{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
}
.restuarant_checkbox{
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}
.restuarant_dist{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add_card{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}
.add_card:hover{
  cursor: pointer;
  background-color: #fafafa;
}
.add_card>span{
  transform: rotate(45deg);
}
.add_card>span>a{
  color: #000;
}
.restbtn{
  border: 1px solid black;
  padding: 0.6rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color:#000;
  background-color: #fff;
  font-family: "courier";
  cursor: pointer;
  transition: background-color 400ms ease;
}
.meal_form{
  display: flex;
  gap: 1rem;
  background-color: #e7e7e5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  width: 74vw;
}
.meal_discount{
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 0;
}
.meal_discount>p:last-of-type{
  background-color: #ebe3e3;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  color: #000;
}
.meal_img{
  background-color: #e7e7e5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meal_img>svg{
  transform: rotate(45deg);
  font-size: 5em;
}
/* --------------------------------------------------------RESPONSIVENESS--------------------------------------- */
@media only screen and  (max-width: 700px) {
  /* --------nav--------------------- */
  .nav_menu{
    font-size: small;
    grid-area: logo;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .nav_menu>h1{
    font-size: large;
  }
  .nav_menubar{
    display: block;
  }
  .nav_reg{
    padding:0 0.2rem;
    gap: 0.2rem;
    background-color: transparent;
    color: #ebe3e3;
    border-radius: 0.2rem;
  }
  .nav>span>a{
    color: #fafafa;
  }
  .nav_reg>p{
    display: none;
  }
  .nav_navigation{
    display: none;
    grid-area: info;
    display: grid;
    justify-content: center;
    grid-template-areas: 'nav1 nav2' 'nav3 nav3';
    margin: 0;
  }
  .nav>span:last-child{
    grid-area: btns;
    justify-content: flex-end;
  }
  .nav{
    background-color: black;
    display: grid;
    grid-template-areas: 'logo btns'
    'info info';
    color: #fff;
    height: 100%;
    padding:0 1rem 0.5rem 1rem ;
  }
  .nav_delivery{
    grid-area: nav1;
    /* padding: 0.001rem; */
    padding: .5vh;
    color: #000;
    width: 40vw;
  }
  .nav_location{
    padding: 0.9rem;
    color: #000;
    grid-area: nav2;
    width: 30vw;
  }
  .nav_search{
    grid-area: nav3;
    width: 80vw;
  }
  .nav_search>input{
    height: 0.1rem;
    align-self: center;
  }
 
  /* ----------------------START PAGE------------------ */
  .start_search{
    flex-direction: column;
    width: 100%;
    gap:1.5rem;
    padding: 0;
  }
  .search_pannel,.dropdown_pannel{
    width: 100%;
  }
  .start_dropdown,.dropbtn{
    width: 100%;
    margin: 0;
    max-height:3rem ;
    font-size: small;
  }
 
  .start_container{
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 82.7vh;
    width: 100%;
  }
  .start_container>span{
    color: white;
    font-size: large;
    width: 100%;
    text-align: center;
  }
  .start_dropdown{
    flex-direction: column;
    gap: 30vh;
  }
  .start_dropdown>a{
    margin-top: 1rem;
    width: 80%;
    padding: 1vh;
  }
  /* ---------------------LOGIN PAGE--------------------- */
  .login_form{
    width: 80%;
  }
  .login_input{
    font-size: medium;
  }
  /* --------------------HOME-------------------------- */
  .category_filter{
    display: none;
  }
  .cart{
    margin: auto;
    width:88vw;
  }
  /* ---------------------cardS--------------------- */
  .cards{
    grid-template-columns: auto;
  }
  .card{
    width: 20rem;
    height: 20rem;
  }
  /* ------------------------RESTURANT------------------ */
  .meal_form{
    flex-direction: column;
  }
  /* ------------------FOOTER------------------- */
  .footer{
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media only screen and (min-width:600px) and (max-width:1200px){
  /* ---------------------card----------------------- */
  .nav_menu{
    font-size: small;
    grid-area: logo;
    justify-content: flex-start;
    padding-right: 0;
  }
  .nav_navigation{
    grid-area: info;
    justify-content: flex-start;
    margin: 0.5rem;
    /* padding-right: 2rem; */
  }
  .nav>span:last-child{
    grid-area: btns;
    justify-content: flex-end;
  }
  .nav_menubar{
    display: block;
    background-color: blue;
  }
  .nav{
    display: grid;
    align-content: space-around;
    grid-template-areas: 'logo btns'
    'info info';
    height: 100%;
  }
  .start_container{
    padding-left: 0vw;
    padding-right: 0;
  }
 
  .nav_menubar{
    display: none;
  }
  .nav_delivery{
    font-size: smaller;
  }
  .start_dropdown>a{
    color: #000;
    text-decoration: none;
    background-color: #c5bdbdee;
    height: 100%;
    padding: 0.5vh;
    display: flex;
    z-index: 1;
    left: 2rem;
    position: relative;
    width: 6vw;
    justify-content: center;
    align-items: center;
  }
  .cards{
      grid-template-columns: auto auto;
      column-gap: 10%;
  }
  .card{
    width: 20rem;
    height: 20rem;
  }
  .body{
    width: 100%;
  }
}

@media only screen and (min-width:1200px) and (max-width:1700px){
  .nav{
    padding: 0.2rem 0rem;
  }
  .nav_menu{
    font-size: small;
  }
  .cards{
      grid-template-columns: auto auto auto;
      column-gap: 10%;
  }
  .card{
    width: 20rem;
    height: 20rem;
  }
}
