body {
  margin: 0;
  padding: 0;
  font-family:  "courier";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
}
:red{
  background-color: #f7990c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* -----------------------------------nav BAR------------------------------------ */
.nav{
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding: 0rem 2rem;
  height: 7vh;
  background-color: #fff;
  margin:0rem;
  position:sticky;
  top:0;
  z-index: 2;
}
.nav>span:last-child{
  display: flex;
  gap: 1rem;
}
.nav_reg{
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  justify-content: center;
  gap: 0.5rem;
  padding:0rem 0.5rem;
  margin: 1rem 0; 
  background-color: rgb(226, 231, 236);
  font-size: small;
  border-radius: 1rem;
  cursor: pointer;
}

.nav_reg:hover{
  background-color: rgb(214, 218, 223);;
}
.nav_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.nav_menubar{
  cursor: pointer;
  font-size: x-large;
}

.nav_navigation{
  display: flex; 
  font-size: small;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2rem;
  width:100%;
  gap: 1.5rem;
}
.nav_location{
  background-color: rgb(226, 231, 236);
  align-items: center;
  width: 15rem;
  justify-content: center;
  display: flex;
  border-radius: 2rem;
  padding: 1rem;
  gap: 0.8rem;
  border-left: #fdfdfd 1px solid;
  border-right: #fdfdfd 1px solid;
}
.nav_delivery{
  width: 15rem;
  background-color: rgb(226, 231, 236);
  align-items: center;
  justify-content: space-around;
  display: flex;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 2rem;
  gap: 1rem;
}
.nav_search{
  /* background-color: rgb(226, 231, 236); */
  background-color: rgb(226, 231, 236);
  align-items: center;
  display: flex;
  width: 100%;
  align-self: center;
  padding: 0 1.2rem 0 1.2rem;
  border-radius: 2rem;
  gap: 0.8rem;
}
.nav_search>input{
  height: 3.3rem;
  padding: 1rem;
  border: none;
  width: 100%;
  font-weight: 600;
  background-color: rgb(226, 231, 236);
}
.delivery{
  background-color: #fafafa;
  padding: 0.9rem;
  position: relative;
  border-radius: 2rem;
}
.nav_search>span{
  font-size: large;
  padding-right: 0.5rem;
}

/* ---------------------------------------------START PAGE---------------------------------------- */
.start{
  display: flex;
}
.start_container{
  background-image: url('../public/image/start_bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:flex-end;
  width: 100%;
  padding: 3rem;
  height: 82.8vh;
}
.start_container>span{
  color: white;
  font-size: large;
  width: 63%;
}
.start_container>span>a{
  color: #fff;
}
.start_search{
  display: flex;
  gap: 0rem;
  align-items: center;
  height: 3rem;
  padding: 1rem 5rem;
}
.start_dropdown{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap :2rem;
}
.search_pannel{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fff;
  padding: 0 0.77rem;
  width: 40vw;
}
.search_pannel>input{
   border: none;
   height: 3.52rem;
   font-family: "courier";
   font-size: large;
   width: 100%;
}
.dropbtn{
  background-color: #fff;
  padding: 0.84rem;
  cursor: pointer;
  width:6rem;
  height: 100%;
  font-size: small;
  font-family: "courier";
  border: none;
}
.dropdown_pannel,.dropdown_pannel1{
  position: relative;
  font-family: "courier";
  width: 10vw;
  padding: 0;
  display: inline;
}
.dropdown_content,.dropdown_content1{
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: none;
}
.dropdown_content>p{
  padding: 0.5rem;
  margin: 0rem;
}
.dropdown_content>p:hover{
  background-color: #ebe3e3;
}

.dropdown_pannel:hover .dropdown_content{
  display: block;
}
.dropdown_pannel1:hover .dropdown_content1{
  display: block;
}
.side_bar{
  display: none;
}


/* ----------------------------------------BUTTON FOR ALL--------------------------------------------- */
.button{
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  color:#000;
  background-color: #fff;
  font-family: "courier";
  cursor: pointer;
  transition: background-color 400ms ease;
}
.button:hover{
  color: white;
  background-color: #f7990c;
}
/* -------------------------------------------LOGIN PAGE------------------------------------------*/
.login_container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.login_form{
  display: flex;
  gap:1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.login_btn{
  margin: 1rem;
  display: flex;
  justify-content: end;
  width: 100%;
}
.login_btn>a{
  border:1px solid #f7990c;
}
.login_form>hr{
  width: 80%;
}
.login_input{
  width: 100%;
  height: 1rem;
  padding: 1rem;
  font-family: "courier new";
  font-size: large;
  border: none;
  border-bottom:1px solid black;
}
.register_name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.register_number{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3rem;
}
.register_buttons{
  padding: 1rem;
  display: flex;
  gap: 60%;
  justify-content: space-between;
  width: 100%;
}
.register_buttons>a{

  border: 1px solid black;
}
/* --------------------------------------------HOME CSS ---------------------------------------------*/
.body{
  position: relative;
  width: 100%;
}
.home_display{
  position: absolute;
  top:1rem;
  height: 91.2vh;
  width: 100%;
  z-index: 2;
  /* background-color: #f7990c; */
  background-color: rgba(235, 231, 228, 0.548);
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 5rem;
  height: 100%;
}
.quick_filter{
  display: flex;
  gap: 1.5rem;
  text-align: center;
}
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15rem;
  height: 90vh;
  background-color: #f7990c;
  color: #fafafa;
}
.footer_links>ul>li>a,.footer_links>ul{
    text-decoration: none;
    list-style-type: none;
    color: #fdfdfd;
}
.footer_links>ul>li{
  padding: 0.5rem;
}
.footer_links>ul>li:hover{
  text-decoration: underline;
}
.home_footer{
  display: flex;
  flex-direction: column;
  border-top:0.1rem solid white;
}
.footer_socials{
  background-color: #f7990c;
  font-size: large;
  padding: 1rem;
}
/* -----------------------------------cardS CSS---------------------------------------------------------------- */
.card{
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.card_body{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
  display: flex;
  padding: 2% 0 25% 0;
  flex-direction: column;
  justify-content: space-between;
}
.card_head{
  display: flex;
  justify-content: space-between;
}
.card_head>span:first-child{
  background-color: #f7990c;
  padding: 0.3rem;
  border-radius: 0 1rem 1rem 0;
}
.card_head>span:last-child{
  padding-right: 1rem;
  font-size: x-large;
}
.card_ordertype{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 1rem auto ;
  background-color: rgba(0, 0, 0, 0.2);
}

.card_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards{
  display: grid;
  column-gap: 2%;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}
/* --------------------------------------------------------RESPONSIVENESS--------------------------------------- */
@media only screen and  (max-width: 700px) {
  /* --------nav--------------------- */
  .nav{
    background-color: black;
    color: #fff;
    padding: 0rem 0.5rem;
  }
  .nav_menu{
    font-size: small;
  }
  .nav_menu>h1{
    font-size: large;
  }
  .nav_reg{
    padding:0 0.2rem;
    gap: 0.2rem;
    background-color: transparent;
    color: #ebe3e3;
    border-radius: 0.2rem;
  }
  .nav_reg>p{
    display: none;
  }
  .nav_navigation{
    display: none;
  }
  /* ----------------------START PAGE------------------ */
  .start_search{
    flex-direction: column;
    width: 100%;
    gap:1.5rem;
    padding: 0;
  }
  .search_pannel,.dropdown_pannel{
    width: 100%;
  }
  .start_dropdown,.dropbtn{
    width: 100%;
    margin: 0;
    max-height:3rem ;
    font-size: small;
  }
 
  .start_container{
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 82.7vh;
    width: 100%;
  }
  .start_container>span{
    color: white;
    font-size: large;
    width: 100%;
    text-align: center;
  }
  /* ---------------------LOGIN PAGE--------------------- */
  .login_form{
    width: 80%;
  }
  .login_input{
    font-size: medium;
  }
  /* --------------------HOME-------------------------- */
  .category_filter{
    display: none;
  }
  /* ---------------------cardS--------------------- */
  .cards{
    grid-template-columns: auto;
  }
  .card{
    width: 20rem;
    height: 20rem;
  }
  /* ------------------FOOTER------------------- */
  .footer{
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media only screen and (min-width:600px) and (max-width:1200px){
  /* ---------------------card----------------------- */
  .cards{
      grid-template-columns: auto auto;
      column-gap: 10%;
  }
  .card{
    width: 20rem;
    height: 20rem;
  }
}

@media only screen and (min-width:1200px) and (max-width:1700px){
  /* ---------------------card----------------------- */
  .cards{
      grid-template-columns: auto auto auto;
      column-gap: 10%;
  }
  .card{
    width: 20rem;
    height: 20rem;
  }
}
